
.outer-box {
    width: 50vw;
    height: 50vh;
    border: 1px solid black;
    margin: 25px;
    background-color: wheat;
    padding: 30px 500px 30px 0px;
    float: center;
}

.btm-box {
    width: 50vw;
    height: 2vh;
    border: 1px solid black;
    margin: 500px 0px 0px 0px;
    background-color: black;
    padding: 300px 500px 30px 0px;
    float: bottom;
}
